<!--!치고 탭 하면 자동 완성-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <!--이쪽에서 코드 작성 -->
    <!--action :-->
    <!--네이버 주소에서 긁어온다-->
    <!--쿼리라는 값으로 들어가고 파라미터에 담겨 이동한다. -->
    <form action="https://search.naver.com/search.naver">
        <input type="text" name="query"/>
        <input type="submit" value="네이버로 검색하기"/>
    </form>
    <form action="https://www.google.co.kr/search">
        <input type="text" name="q"/>
        <input type="submit" value="구글로 검색하기"/>
    </form>
</body>
</html>